body {font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;  
    }
    /* main styles */
    .main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    }
    /* main content style */
    .main-content {
        padding-top: 105px;
        padding-bottom: 105px;
        padding-left: 90px;
        padding-right: 90px;
    
    background-color: #FFFFFF
    }
    /* about styles */
    .About {
    }
    .about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
    }
    .about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
    }
    .about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
    margin-bottom: 40px
    }
    /* project styles */
    .projects {
    margin-bottom: 50px 
    }
    .title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px
    }
    .project-list {
    padding: 0;
    margin-left: 15px;
    }
    .project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    }
    .project, .project-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    }
    .project-link {
    margin-left: 10px;
    }
    .project-braket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    }
    
    /* work styles */
    .Work {
    }
    
    .work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
    }
    
    .work-list {
    padding: 0;
    margin-left: 15px;
    }
    .work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    }
    .organization {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    }
    .organization1 {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;   
    color: green; 
    }
    .organization2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: blueviolet;
    }
    .period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
    }
    .riska {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    }
    
    /* education styles */
    .Education {
    }
    /* sidebar styles */
    .sidebar {
    background-color: #142338;
    padding-top: 40px;
    width: 370px;
    }
    .photo {
    width: 370px;
    margin-bottom: 50px;
    }
    
    .contacts, .tech-skills, .soft-skills {
    margin-left: 40px;
    }
    .contacts {
    margin-bottom: 50px;
    }
    .tech-skills {
    margin-bottom: 45px;
    }
    .soft-skills {
    margin-bottom: 370px;
    }
    
    .contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px; 
    color: #FFFFFF;
    margin-right: 5px;
    }
    
    .contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
    }
    
    .Sidebar-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
    }
    
    .tech-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 19px; 
    }
    .tech-skills-item {
    color: #FB6D3A;
    }
    .tech-skills-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    }
    .soft-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 19px;
    }
    .soft-skills-item {
    color: #FB6D3A;
    }
    .soft-skills-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    }
   @media screen and (min-width: 480px) {
      .main {
        width: 448px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    @media screen and (min-width: 768px) {
      .main {
        width: 768px;
      }
    }
